# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle

# other
eclipse
run

/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/LICENSE-fml.txt
/CREDITS-fml.txt
/morefuelsmod_Server.launch
/morefuelsmod_Client.launch
/forge-1.8.9-11.15.1.1794-changelog.txt